body
{
	margin: 0px;
	border: 0px;
}

.head
{
	
	height: 4rem;
	display: flex;
	background-color: rgb(20, 20, 20);
	justify-content: space-between;
	align-items: center;
}

.itens
{
	width: 50rem;
	color: white;
	display: flex;
	justify-content: space-between;
	margin: 5rem;
	justify-items: space-between;
}
